@page {
    size: US-Letter;
    margin: 1in .75in .75in .75in;
    font: 11pt "Euclid";

    @top {
        content: string(doctitle);
        padding:0;
        margin:0 0 10px 0;
        vertical-align:bottom;
    }

    @top-right {
        content: counter(page);
        margin:0 0 10px 0;
        vertical-align: bottom;
    }
}

title {
    string-set: doctitle content()
}

/* no header or page number on first page */
@page:first {
    margin: .7in .75in;
    @top {
        content: none;
    }
    @top-right {
        content: none;
    }
}

html {
    font: 11pt "Euclid";
    color: black;
    background: white;
}

br {
    clear:both;
}

h1 {
    font-size:20pt;
    letter-spacing:4pt;
    text-transform:uppercase;
    border-bottom:1px solid black;
}

    h1 span {
        font-size:25pt;
    }

h3 {
    font-weight:900;
    font-size:12pt;
    letter-spacing:2pt;
    text-transform:uppercase;
    margin-bottom:5px;
}

p {
    margin:0 0 .7em 0;
    line-height: 2em;
}
    p.salutation {
        margin:0 0 1.0em 0;
    }

    p.valediction {
        margin:2em 0 0 0;
    }

div.section {
    padding: 1px 0;
    margin-bottom:17px;
}

.list {
    margin-bottom:17px;
}

    .list:last-child {
        margin-bottom:0;
    }

div.content {
    margin-left:20px;
}

ul {
    padding: 0 0 0 17px;
    list-style-type: disc;
}

    ul li{
        padding-bottom:5px;
    }

    ul li:last-child {
        padding:0;
    }

    ul li ul {
        padding:5px 0 5px 17px;
        list-style-type: circle;
    }

    ul li ul:last-child {
        padding:5px 0 0 17px;
    }

table {
    width: 100%;
}

tr {
    height: 20px;
}

    tr:last-child {
        height: 15px;
        padding:0;
        margin:0;
       }

table.references tr td {
    width: 33%;
    padding-bottom: 20px;
}

table.references tr:last-child td {
    padding-bottom: 0;
}

table.references tr:last {
    padding:0;
}

.overline {
    border-top: 1px solid black;
}

.rborder {
    font-style:italic;
    text-align: right;
    border-right: 1px solid black;
    padding-right: 5px;
}

.second {
    padding-left:5px;
}

.fright {
float:right;
}

.right {
    text-align:right;
}


.pagebreak {
    page-break-before: always;
}

